{:lang/greet integrant-learning.english/greet
 :lang/farewell integrant-learning.english/farewell
 :mailer/send-email integrant-learning.mailer/store-email
 :mailer/get-emails integrant-learning.mailer/get-emails}
