{:lang/greet integrant-learning.spanish/hello
 :lang/farewell integrant-learning.spanish/goodbye
 :mailer/send-email integrant-learning.ses-mailer/reject-email
 :mailer/get-emails integrant-learning.ses-mailer/no-emails-notice}
